## DATA Extraction Transformation Loading into Database

## EXTRACTION

In [67]:
import os
import pandas as pd

In [68]:
# Create a reference the CSV file desired
dicecsv = os.path.join("Resources", "Dice_US_jobs.csv")

# Read the CSV into a Pandas DataFrame
dice_df = pd.read_csv(dicecsv,  encoding="ISO-8859-1")

In [70]:
### Check the columns we want to use
dice_df.columns

Index(['advertiserurl', 'company', 'employmenttype_jobstatus',
       'jobdescription', 'jobid', 'joblocation_address', 'jobtitle',
       'postdate', 'shift', 'site_name', 'skills', 'uniq_id'],
      dtype='object')

In [71]:
#DataFrame.drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
#Dropped the columns which didnt make sense.
dice_df_droppedcol=dice_df.drop(columns=['advertiserurl', 'jobid', 'site_name'])
dice_df_droppedcol.head(3)

,company,employmenttype_jobstatus,jobdescription,joblocation_address,jobtitle,postdate,shift,skills,uniq_id
0,"Digital Intelligence Systems, LLC","C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...",Looking for Selenium engineers...must have sol...,"Atlanta, GA",AUTOMATION TEST ENGINEER,1 hour ago,Telecommuting not available|Travel not required,SEE BELOW,418ff92580b270ef4e7c14f0ddfc36b4
1,University of Chicago/IT Services,Full Time,The University of Chicago has a rapidly growin...,"Chicago, IL",Information Security Engineer,1 week ago,Telecommuting not available|Travel not required,"linux/unix, network monitoring, incident respo...",8aec88cba08d53da65ab99cf20f6f9d9
2,"Galaxy Systems, Inc.",Full Time,"GalaxE.SolutionsEvery day, our solutions affec...","Schaumburg, IL",Business Solutions Architect,2 weeks ago,Telecommuting not available|Travel not required,"Enterprise Solutions Architecture, business in...",46baa1f69ac07779274bcd90b85d9a72

In [56]:
## Get the State and city 
## new data frame with split value columns 
#data["Team"]= data["Team"].str.split("t", n = 1, expand = True) 
#dice_df_droppedcol.head(2)
#dice_df_droppedcol["City"]=dice_df_droppedcol["joblocation_address"].str.split(",", n=1, expand=True)
#dice_df_droppedcol.head(2)
#dfToList = dice_df_droppedcol['joblocation_address'].tolist()

In [72]:
#print(dfToList) -- Convert one columin of the dataframe into two one for city and one for state.
new = dice_df_droppedcol["joblocation_address"].str.split(",", n = 1, expand = True) 
dice_df_droppedcol["City"]= new[0] 
# dice_df_droppedcol.head(3)
dice_df_droppedcol["State"]= new[1] 
dice_df_droppedcol.head(3)

,company,employmenttype_jobstatus,jobdescription,joblocation_address,jobtitle,postdate,shift,skills,uniq_id,City,State
0,"Digital Intelligence Systems, LLC","C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...",Looking for Selenium engineers...must have sol...,"Atlanta, GA",AUTOMATION TEST ENGINEER,1 hour ago,Telecommuting not available|Travel not required,SEE BELOW,418ff92580b270ef4e7c14f0ddfc36b4,Atlanta,GA
1,University of Chicago/IT Services,Full Time,The University of Chicago has a rapidly growin...,"Chicago, IL",Information Security Engineer,1 week ago,Telecommuting not available|Travel not required,"linux/unix, network monitoring, incident respo...",8aec88cba08d53da65ab99cf20f6f9d9,Chicago,IL
2,"Galaxy Systems, Inc.",Full Time,"GalaxE.SolutionsEvery day, our solutions affec...","Schaumburg, IL",Business Solutions Architect,2 weeks ago,Telecommuting not available|Travel not required,"Enterprise Solutions Architecture, business in...",46baa1f69ac07779274bcd90b85d9a72,Schaumburg,IL

In [73]:
#### After splittign the column - drop the original column 
dice_df_droppedcol_sep=dice_df_droppedcol.drop(columns=['joblocation_address'])
dice_df_droppedcol_sep.head(3)

,company,employmenttype_jobstatus,jobdescription,jobtitle,postdate,shift,skills,uniq_id,City,State
0,"Digital Intelligence Systems, LLC","C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...",Looking for Selenium engineers...must have sol...,AUTOMATION TEST ENGINEER,1 hour ago,Telecommuting not available|Travel not required,SEE BELOW,418ff92580b270ef4e7c14f0ddfc36b4,Atlanta,GA
1,University of Chicago/IT Services,Full Time,The University of Chicago has a rapidly growin...,Information Security Engineer,1 week ago,Telecommuting not available|Travel not required,"linux/unix, network monitoring, incident respo...",8aec88cba08d53da65ab99cf20f6f9d9,Chicago,IL
2,"Galaxy Systems, Inc.",Full Time,"GalaxE.SolutionsEvery day, our solutions affec...",Business Solutions Architect,2 weeks ago,Telecommuting not available|Travel not required,"Enterprise Solutions Architecture, business in...",46baa1f69ac07779274bcd90b85d9a72,Schaumburg,IL

In [75]:
new_shift = dice_df_droppedcol_sep["shift"].str.split("|", n = 1, expand = True) 
dice_df_droppedcol_sep["Telecommute"]= new_shift[0] 
# dice_df_droppedcol.head(3)
dice_df_droppedcol_sep["Travel"]= new_shift[1] 
#dice_df_droppedcol_sep.head(3)
dice_df_droppedcol_sep_shift=dice_df_droppedcol_sep.drop(columns=['shift'])
dice_df_droppedcol_sep_shift.head(5)

,company,employmenttype_jobstatus,jobdescription,jobtitle,postdate,skills,uniq_id,City,State,Telecommute,Travel
0,"Digital Intelligence Systems, LLC","C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...",Looking for Selenium engineers...must have sol...,AUTOMATION TEST ENGINEER,1 hour ago,SEE BELOW,418ff92580b270ef4e7c14f0ddfc36b4,Atlanta,GA,Telecommuting not available,Travel not required
1,University of Chicago/IT Services,Full Time,The University of Chicago has a rapidly growin...,Information Security Engineer,1 week ago,"linux/unix, network monitoring, incident respo...",8aec88cba08d53da65ab99cf20f6f9d9,Chicago,IL,Telecommuting not available,Travel not required
2,"Galaxy Systems, Inc.",Full Time,"GalaxE.SolutionsEvery day, our solutions affec...",Business Solutions Architect,2 weeks ago,"Enterprise Solutions Architecture, business in...",46baa1f69ac07779274bcd90b85d9a72,Schaumburg,IL,Telecommuting not available,Travel not required
3,TransTech LLC,Full Time,Java DeveloperFull-time/direct-hireBolingbrook...,"Java Developer (mid level)- FT- GREAT culture,...",2 weeks ago,Please see job description,3941b2f206ae0f900c4fba4ac0b18719,Bolingbrook,IL,Telecommuting not available,Travel not required
4,Matrix Resources,Full Time,Midtown based high tech firm has an immediate ...,DevOps Engineer,48 minutes ago,"Configuration Management, Developer, Linux, Ma...",45efa1f6bc65acc32bbbb953a1ed13b7,Atlanta,GA,Telecommuting not available,Travel not required

In [83]:
## Copy only the columns needed for the DB table
# Create a filtered dataframe from specific columns
job_location = ["City", "State", "uniq_id"]
job_location_transformed= dice_df_droppedcol_sep_shift[job_location].copy()

# Rename the column headers
job_location_transformed = job_location_transformed.rename(columns={"City": "city",
                                                          "State": "state",
                                                          "uniq_id": "job_id"})

# Clean the data by dropping duplicates and setting the index
job_location_transformed.drop_duplicates("job_id", inplace=True)
job_location_transformed.set_index("job_id", inplace=True)

In [92]:
job_location_transformed.shape

(22000, 2)

In [103]:
import numpy as np
job_location_transformed['city'].replace(' ', np.nan , inplace=True)
job_location_transformed['state'].replace(' ', np.nan , inplace=True)
job_location_transformed.dropna(subset=['city'], inplace=True)
job_location_transformed.dropna(subset=['state'], inplace=True)

In [109]:
job_location_transformed.shape

(21932, 2)

In [110]:
telecommute_travel = ["jobtitle", "uniq_id", "Telecommute" , "Travel"]
telecommute_travel_transformed= dice_df_droppedcol_sep_shift[telecommute_travel].copy()

# Rename the column headers
telecommute_travel_transformed = telecommute_travel_transformed.rename(columns={"jobtitle" :"job_title" , "Travel":"travel",
                                                                                 "Telecommute" : "telecommute",
                                                                                 "uniq_id": "job_id"})

# Clean the data by dropping duplicates and setting the index
telecommute_travel_transformed.drop_duplicates("job_id", inplace=True)
telecommute_travel_transformed.set_index("job_id", inplace=True)

In [111]:
telecommute_travel_transformed.shape

(22000, 3)

In [121]:
import numpy as np
telecommute_travel_transformed['job_title'].replace(' ', np.nan , inplace=True)
telecommute_travel_transformed['travel'].replace(' ', np.nan , inplace=True)
telecommute_travel_transformed['telecommute'].replace(' ', np.nan , inplace=True)


telecommute_travel_transformed.dropna(subset=['job_title'], inplace=True)
telecommute_travel_transformed.dropna(subset=['travel'], inplace=True)
telecommute_travel_transformed.dropna(subset=['telecommute'], inplace=True)

In [122]:
telecommute_travel_transformed.shape

(21643, 3)

In [123]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [124]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/us_dice_jobs')
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
job_location=Base.classes.job_location
session = Session(engine)

In [107]:
job_location_transformed.to_sql(name='job_location', con=engine, if_exists='append', index=True)

In [127]:
telecommute_travel_transformed.to_sql(name='telecommute_travel', con=engine, if_exists='append', index=True)