## Import the Pandas library

import pandas as pd
import os

In [28]:
import pandas as pd
import os
from sqlalchemy import create_engine

## EXTRACTION

In [12]:


# Create a reference the CSV file desired
monstercsv = os.path.join("Resources", "monster_com-job.csv")
dicecsv = os.path.join("Resources", "Dice_US_jobs.csv")

# Read the CSV into a Pandas DataFrame
monster_df = pd.read_csv(monstercsv)
dice_df = pd.read_csv(dicecsv,  encoding="ISO-8859-1")

# show tatal raw for each data frame
print("totoal job post in    dice: {dice_df.count()}")
print("totoal job post in monster: {monster_df.count()}")

totoal job post in    dice: {dice_df.count()}
totoal job post in monster: {monster_df.count()}

## Transform monster DataFrame

In [34]:
# Create a filtered dataframe from specific columns
monster_cols = ["date_added", "job_title", "job_type", "location", "organization", "sector"]
monster_transformed= monster_df[monster_cols].copy()
monster_transformed = monster_transformed.rename(columns={"organization": "company_name"})
# Clean the data by dropping duplicates and setting the index
monster_transformed = monster_transformed.dropna(how='any')
monster_transformed.reset_index(inplace=True, drop=True)
monster_transformed.index.name = "ID"
monster_transformed.head()

,date_added,job_title,job_type,location,company_name,sector
ID,,,,,,
0,5/10/2016,Multibed Technician Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,Other
1,5/13/2016,Principal Cyber Security Engineer Job in Houston,Full Time Employee,"Houston, TX",Computer SoftwareComputer/IT Services,IT/Software Development
2,5/9/2016,Field Supervisor IS Job in Deer Park,Full Time Employee,"Deer Park, TX",Other/Not Classified,Other
3,6/10/2016,Insurance Sales - Customer Service Job in Eden...,Full Time Employee,"Eden Prairie, MN 55344",Insurance,Accounting/Finance/Insurance
4,1/2/2017,Vehicle Maintenance Mechanic - Las Vegas,Full Time Employee,"Las Vegas, NV",Energy and Utilities,Installation/Maintenance/Repair

## Transform dice DataFrame

In [35]:
# Create a filtered dataframe from specific columns
dice_cols = ["date_added", "job_title", "job_type", "location", "organization", "sector"]
dice_transformed= dice_df[dice_cols].copy()
# Clean the data by dropping duplicates and setting the index
dice_transformed = dice_transformed.dropna(how='any')
dice_transformed.reset_index(inplace=True, drop=True)
dice_transformed.index.name = "ID"
dice_transformed.head()

,date_added,job_title,job_type,location,organization,sector
ID,,,,,,
0,11/11/2016,EDI Analyst,"Full Time, Full-time, Employee","Stamford, CT",CyberCoders,"EDI, TrustedLink, AS2, VAN - EDI, TrustedLink,..."
1,11/11/2016,Informatica ETL Developer,"Full Time, Full Time","St Petersburg, FL",TrustMinds,ETL Informatica B2B Data Exchange Netezza Orac...
2,11/11/2016,Angular developer,"Full Time, Contract Corp-To-Corp, Contract Ind...","Sunnyvale, CA",K Anand Corporation,Angular
3,11/12/2016,"Microsoft Dynamics AX, Project Manager",Full Time,"Toronto, Canada, ON",Nigel Frank International,"Microsoft Dynamics AX, Project Manager - Toron..."
4,11/11/2016,Software Developer,"Full Time, Full-time, Employee","Stamford, CT",CyberCoders,"C#, ASP.NET, SQL, JavaScript, MVC - C#, ASP.NE..."

## Create database connection

In [36]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/us_jobs')

In [37]:
# Confirm tables
engine.table_names()

['job_location', 'skills_required', 'company', 'monster_jobs', 'dice_jobs']

## Load data frame into database

In [39]:
#monster_transformed.to_sql(name='monster_jobs', con=engine, if_exists='append', index=True)
dice_transformed.to_sql(name='dice_jobs', con=engine, if_exists='append', index=True)